.matching_page{
    margin : 0% 0%;
    padding: 0%;
    box-sizing: border-box;
    height: 100%;
    max-width: 100%;
}

html {
    scroll-behavior : smooth;
}

@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Krub:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@500&display=swap');

.exit{
    position: absolute;
    display: flex;
    margin-left: 96%;
    margin-top: 10px;
    height: min-content;
    width: min-content;
    background-color: transparent;
}
.exit a{
    background-color: transparent;
}
.exitButton{
    padding:12px;
}
.user{
    position: absolute;
    display: inline-flex;
    width: 40%;
    height: 15%;
    background-color: #ca9465;   
    margin-top: 0%;
}

.user_avatar {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 1% 3%;
    z-index: 2;
}

.user_name {
    display: inherit;
    color: black;
    font-family: 'Poppins';
    background-color: transparent;
    margin-top:5%;   
}

.matching_details{
    width:40%;
    position: absolute;
    margin-top:7%;
    height: 87%;
    font-family: 'Poppins';
    display: flex; 
    justify-content: space-between;
    background-color: white;
}
.matching_action{
    list-style: none;
    display: flex;
}
.action_option{
    position: relative;
    padding-left: 50px;
    background-color: white;
}
.action_option a{
    color: black;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: bold;
    background-color: white;
}

.matches_introduction{
    align-items: center;
    width:100%;
    position: absolute;
    top:20%;
    height: min-content;
    background-color: white;
}

.bar {
    width: 30%;
    background-color: #FF8D8D;
    height: 230px;
    display: flex;
    margin-left: 35%;
}
.matching_intro{
    margin-left: -2px;
    font-family: 'Poppins';
    text-align: center;
    background-color: white;
    font-weight: 700;
}
.matching_description{
    font-weight: 500;
    background-color: white;
    color: lightgray;
    text-align: left;
    padding: 40px 30px;
}

.match_user{
    border: 1px solid black;
    background: lightgray;
    margin-left: 40%;
    width: 60%;
    height: 760px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.ru_circle{
    background-color: #FF8D8D;
    height: 350px;
    width: 350px;
    border-radius: 50%;
}
.recommend_user{
    background: lightgray;
    height: min-content;
    text-align: center;
}
.ru{
    font-family: 'Poppins';
    background: lightgray;
}
.ru_actions{
    background: lightgray;
    display: flex;
    justify-content: space-between;
    width: 80%;   
    margin-left: 10%;
    margin-top:10%;
}
.ru_actions a{
    background: lightgray;
    text-decoration: none;
}
.material-symbols-outlined{
    color: black;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 25%;
}

