.catalyst_report{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    height: 50%;
    max-width: 100%;
    background-color: #f3e1ba;
}

html {
    scroll-behavior : smooth;
}

.catalyst_report-logo{
    
    height: min-content;
    padding: 0.5cm;
    position: relative;
    display: flex; 
}

.intro{
    color: black;
    width: 100%;
    height: min-content;
    text-align: center;
    background-color: transparent;
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 50px;
    position: absolute;
    margin-top: 2%;
}

.career_recommendation{
    width: 100%;
    height: min-content;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 8%;
    /* margin-left: 30%; */
}
.poly_box{
    width:40%;
    background-color: #ca9465;
    height: max-content;
}
.poly{
    width:100%;
    height: 80%;
    background:#f3e1ba;
    -webkit-clip-path:polygon(6% 13%, 24% 13%, 36% 12%, 53% 12%, 61% 12%, 65% 13%, 76% 12%, 95% 10%, 95% 44%, 96% 88%, 80% 86%, 69% 86%, 65% 88%, 46% 88%, 21% 88%, 6% 89%, 5% 86%, 5% 80%, 5% 40%, 5% 16%); 
    clip-path: polygon(6% 13%, 24% 13%, 36% 12%, 53% 12%, 61% 12%, 65% 13%, 76% 12%, 95% 10%, 95% 44%, 96% 88%, 80% 86%, 69% 86%, 65% 88%, 46% 88%, 21% 88%, 6% 89%, 5% 86%, 5% 80%, 5% 40%, 5% 16%);
    display: block;
}
.field{
    width: 80%;
    font-size: 70px;
    font-family: 'Poppins';
    font-weight: bolder;
    background-color: transparent;
    padding: 8%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.field_description{
    font-family: 'Poppins';
    font-style: italic;
    font-size: large;
    color: gray;
    margin-top: -10%;
    padding: 10%;
}

.careers{
    height: max-content;
    position: absolute;
    margin-top: 55%;
    font-size: 36px;
    display: inline;
    width: 70%;
}
.careers ul{
    display: flex;
    list-style: none;
    justify-content: space-between;  
}
.careers li{
    border: 5px solid black;
    padding: 1%;
    font-family: 'Poppins';
    font-size: larger;
}
